/*mobile desktop*/
body{
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

p{
  color: hsl(229, 8%, 60%);
  padding:0 11%;
  line-height: 1.5;
}

/*global choice of visibility and none display*/
.notshowed{
  display:none;
  visibility:hidden;
}

.showed{
  display:block;
  visibility:visible;
}


/*popchoice */
.popchoice{
  background-color:hsl(229, 31%, 21%);
  text-align: center;
  padding-bottom:5rem;
  width:100%;
}

.popchoice-up{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


.popchoice-down{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}


.popchoice-link{
  padding:1.5rem 0;
  width:80%;
  text-decoration:none;
  color: white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.popchoice-button{
  width: 80%;
  height: 3rem;
  margin:2rem 0;
  background-color:transparent;
  border: 4px solid white;
  color: white;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing:3px;
}

.popchoice-social-icons{
  margin-top:5rem;
}


/*navigation bar*/
.navigation-class{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  padding: 1rem;
}

/*first page*/
.first-page{
  display:flex;
  flex-direction:column-reverse;
  margin-top: 3rem;
  margin-bottom: 10rem;
}


.first-page-illustration{
  width:100%;
}

.first-page-left{
  text-align:center;
}


.first-page-button{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.first-blue-button, .first-white-button{
  margin:0 1rem;
}

.first-blue-button, .first-white-button{
  border: none;
  width: 9rem;
  height: 2.5rem;
  font-size:0.9rem;
  font-weight: 700;
  border-radius: 3px;
}

.first-blue-button{
  background-color:hsl(231, 69%, 60%);
  color: white;
}


/*second page*/

.second-page{
  text-align: center;
}


/*third page*/
.third-page-choice{
  display:flex;
  flex-direction: column;
  margin: 5rem 0;
  position: relative;
}

.third-page-option{
  align-items:center;
  text-align: center;
  display:flex;
  flex-direction: column;
  margin-bottom:3rem;
}

.option1, .option2, .option3{
  padding:1.5rem 0;
  width:80%;

}

.option1, .option3{
  border-bottom: 1px solid gray;
  border-top: 2px solid gray;
}



.choice1, .choice2, .choice3{
  text-align:center;
}


.choice-line1,.choice-line2, .choice-line3 {
  width:30%;
  border-bottom: 2px;
  border-width:5px;
  margin: 0;
  border-color: blue;
  padding: 0;
  position: absolute;
}

.choice-line1{
  top: 4.07rem;
}

.choice-line2{
  top: 8.22rem;
}

.choice-line3{
  top: 12.67rem;
}

.choice-image{
  width:100%;
}


/*fourth page*/
.fourth-page{
  text-align: center;
}

.chrome-mobile, .firefox-mobile, .opera-mobile{
  height:20rem;
  width: 20rem;
  margin: 5rem auto;
  border-radius: 3px;
  background-color:white;
}

.browser-img{
  margin-top: 1rem;
}

.app-version{
  display: block;
  padding-bottom: 3rem;
  color:hsl(229, 8%, 60%);
}

.browser-button{
  width: 18rem;
  height: 3rem;
  background-color: hsl(231, 69%, 60%);
  border: 0;
  border-radius: 3px;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size:1.1rem;
}

/*fifth page*/
.fifth-page{
  text-align: center;
  margin: 5rem 0;
}


.list-questions{
  padding: 0 3%;

}

.faqs{
  text-align: center;
  margin: 3rem 0;
}

.question1-header, .question2-header, .question3-header, .question4-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}

.question1-answer, .question2-answer, .question3-answer, .question4-answer{
  text-align: left;
}



/*faq properties*/

.arrow-icon{
  width:1.3rem;
  height:1rem;
}

.up{
  transform:rotate(180deg);
  transition: transform 0.8s ease;
}

.down{
  transform:rotate(0deg);
  transition: transform 0.8s ease;
}

/*faq properties*/

.faq-button{
  margin: 0 auto;
  width: 8rem;
  height: 2.5rem;
  color: white;
  background-color:hsl(231, 69%, 60%);
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  margin-top: 3rem;
}


.answer-description{
  padding: 0;
}

/*footer page1*/

.footer-page1{
  text-align: center;
  background-color:hsl(231, 69%, 60%);
  padding: 5rem 0;
}

.footer-followers{
  color: white;
  font-size: 1.1rem
}

.footer-page1-header{
  color: white;
}

.footer-page1-input{
  display:block;
  margin: 0 auto;
  padding-left: 1rem;
  padding-top: 0.2rem;
  width: 18rem;
  height: 2.3rem;
}

.footer-page1-button{
  margin-top:3rem;
  width: 19.3rem;
  height: 2.6rem;
  background-color: hsl(0, 94%, 66%);
  border: none;
  color: white;
}


/*footer page2*/

.footer-page2{
  background-color: hsl(229, 31%, 21%);
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.left-footer-img{
  color: white;
  margin-top:2rem;
}

.right-footer-img{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin: 2rem 0;
}

.footer-page2-link{
  text-decoration: none;
  color: white;
  margin: 1rem 0;
}

.right-footer-page2{
  margin-bottom: 2rem;
}

.social-icon{
  margin:0 0.5rem;
  color: white;
}
