/*mobile desktop*/
body{
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

p{
  color: hsl(229, 8%, 60%);
  padding:0 11%;
  line-height: 1.5;
}

/*global choice of visibility and none display*/
.notshowed{
  display:none;
  visibility:hidden;
}

.showed{
  display:block;
  visibility:visible;
}


/*popchoice */
.popchoice{
  background-color:hsl(229, 31%, 21%);
  text-align: center;
  padding-bottom:5rem;
  width:100%;
}

.popchoice-up{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}


.popchoice-down{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}


.popchoice-link{
  padding:1.5rem 0;
  width:80%;
  text-decoration:none;
  color: white;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.popchoice-button{
  width: 80%;
  height: 3rem;
  margin:2rem 0;
  background-color:transparent;
  border: 4px solid white;
  color: white;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing:3px;
}

.popchoice-social-icons{
  margin-top:5rem;
}


/*navigation bar*/
.navigation-class{
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  padding: 1rem;
}

.additional-navigation{
  display: none;
  visibility: hidden;
}

/*first page*/
.first-page{
  display:flex;
  flex-direction:column-reverse;
  margin-top: 3rem;
  margin-bottom: 10rem;
}


.first-page-illustration{
  width:100%;
}

.first-page-left{
  text-align:center;
}


.first-page-button{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.first-blue-button, .first-white-button{
  margin:0 1rem;
}

.first-blue-button, .first-white-button{
  border: none;
  width: 9rem;
  height: 2.5rem;
  font-size:0.9rem;
  font-weight: 700;
  border-radius: 3px;
}

.first-blue-button{
  background-color:hsl(231, 69%, 60%);
  color: white;
}


/*second page*/

.second-page{
  text-align: center;
}


/*third page*/
.third-page-choice{
  display:flex;
  flex-direction: column;
  margin: 5rem 0;
  position: relative;
}

.third-page-option{
  align-items:center;
  text-align: center;
  display:flex;
  flex-direction: column;
  margin-bottom:6rem;
}

.option1, .option2, .option3{
  padding:1.5rem 0;
  width:80%;

}

.option1, .option3{
  border-bottom: 1px solid gray;
  border-top: 2px solid gray;
}



.choice1, .choice2, .choice3{
  text-align:center;
}


.choice-line1,.choice-line2, .choice-line3 {
  width:30%;
  border-bottom: 2px;
  border-width:5px;
  margin: 0;
  border-color: blue;
  padding: 0;
  position: absolute;
}

.choice-line1{
  top: 4.07rem;
}

.choice-line2{
  top: 8.34rem;
}

.choice-line3{
  top: 12.67rem;
}

.choice-image{
  width:100%;
}

.choice-header{
  margin-top:2.5rem;
  margin-bottom: 0;
}

.choice-description{
  margin-top: 1.5rem;
}


/*fourth page*/
.fourth-page{
  text-align: center;
}

.chrome-mobile, .firefox-mobile, .opera-mobile{
  height:25rem;
  max-width: 20rem;
  width:85%;
  margin: 5rem auto;
  border-radius: 3px;
  background-color:white;
  box-shadow: 0px 2px 19px 5px #888888;
}

.browser-img{
  margin-top: 1rem;
}

.app-version{
  display: block;
  padding-bottom: 3rem;
  color:hsl(229, 8%, 60%);
}

.underline-dots{
  margin: 1rem 0;
  width:100%;
}


.browser-button{
  max-width: 18rem;
  width:95%;
  height: 3rem;
  background-color: hsl(231, 69%, 60%);
  border: 0;
  border-radius: 3px;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size:1.1rem;
  cursor: pointer;
}

.browser-button:hover{
  border: 3px solid hsl(231, 69%, 60%);
  background-color:white;
  color:hsl(231, 69%, 60%);
}

/*fifth page*/
.fifth-page{
  text-align: center;
  margin: 5rem 0;
}


.list-questions{
  padding: 0 3%;

}

.faqs{
  text-align: center;
  margin: 3rem 0;
}

.question1, .question2, .question3, .question4{
  cursor: pointer;
}


.question1-header, .question2-header, .question3-header, .question4-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  align-items: center;
}

.question1-answer, .question2-answer, .question3-answer, .question4-answer{
  text-align: left;
}



/*faq properties*/

.arrow-icon, .arrow-icon1{
  width:1.3rem;
  height:1rem;
}

.up{
  transform:rotate(180deg);
  transition: transform 0.8s ease;
}

.down{
  transform:rotate(0deg);
  transition: transform 0.8s ease;
}

/*faq properties*/

.faq-button{
  margin: 0 auto;
  width: 8rem;
  height: 2.5rem;
  color: white;
  background-color:hsl(231, 69%, 60%);
  border: none;
  font-family: 'Rubik', sans-serif;
  font-size: 1.1rem;
  margin-top: 3rem;
  cursor: pointer;
}


.answer-description{
  padding: 0;
}

/*footer page1*/

.footer-page1{
  text-align: center;
  background-color:hsl(231, 69%, 60%);
  padding: 5rem 0;
  position: relative;
}

.footer-followers{
  color: white;
  font-size: 1.1rem
}

.footer-page1-header{
  color: white;
}

.footer-page1-input-button{
  position: relative;
  margin-top:3rem;
}

.footer-page1-input{
  display:block;
  margin: 0 auto;
  padding-right: 2rem;
  padding-left: 1rem;
  padding-top: 0.2rem;
  max-width: 16rem;
  width:75%;
  height: 2.3rem;
  position: relative;
  z-index: 2;
}

.footer-page1-button{
  max-width: 19.3rem;
  width:93%;
  height: 2.6rem;
  background-color: hsl(0, 94%, 66%);
  border: none;
  color: white;
  cursor: pointer;
}



.error-email{
  position: relative;
  background-color: hsl(0, 94%, 66%);
  bottom: 4.5rem;
  border-radius: 5px;
  z-index: 1;
  text-align: left;
  width: 22rem;
  margin: 0 auto;
  padding-top: 3.8rem;
  color: white;
}

.margin-for-emailButton{
  margin-top:3rem;
}

.error-icon{
  position: relative;
  bottom: 2rem;
  z-index: 2;
  left: 7rem;
}


/*footer page2*/

.footer-page2{
  background-color: hsl(229, 31%, 21%);
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.left-footer-img{
  color: white;
  margin-top:2rem;
}

.right-footer-img{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin: 2rem 0;
}

.footer-page2-link{
  text-decoration: none;
  color: white;
  margin: 1rem 0;
}

.right-footer-page2{
  margin-bottom: 2rem;
}

.social-icon{
  margin:0 0.5rem;
  color: white;
  cursor: pointer;
}

.social-icon:hover{
  color: hsl(0, 94%, 66%);
}

@media (min-width:295px) {
  .error-icon{
    left: 7.5rem;
  }
}

@media (min-width:313px){
  .error-icon{
    left: 8rem;
  }
}

@media (min-width:336px){
  .error-icon{
    left: 8.5rem;
  }
}


@media (min-width:1440px){
  p{
    padding:0;
  }

.additional-navigation{
  display:block;
  visibility: visible;
}


  /*navigation bar*/
.navigation-class{
  padding:2rem 1rem;
}


.right-navigation{
  display:none;
  visibility:hidden;
}

.additional-navigation{
  display:flex;
  flex-direction:row;
  align-items:center;
}

.additional-navigation-link{
  margin: 0 2rem;
  text-decoration: none;
  color:hsl(229, 31%, 21%);
  letter-spacing:3px;
}

.additional-navigation-link:hover{
  color:hsl(0, 94%, 66%);
}


.additional-navigation-button{
  color: white;
  background-color: hsl(0, 94%, 66%);
  border: none;
  width:8rem;
  height: 2rem;
  cursor: pointer;
}

.additional-navigation-button:hover{
  background-color:white;
  border: 1px solid hsl(0, 94%, 66%);
  color: hsl(0, 94%, 66%);
}

/*first page*/
.first-page{
  flex-direction: row;
  align-items:center;
  margin: 5rem 0;
}

.first-page-left{
  text-align: left;
  width: 55%;
  padding: 0 5%;
}

.first-page-button{
  justify-content:flex-start;
}

.first-blue-button{
  margin-left: 0;
}

/*second page description*/

.second-page-description{
  padding:0 35%;
}

.first-blue-button, .first-white-button{
  cursor: pointer;
}

.first-blue-button:hover{
  border:1px solid hsl(231, 69%, 60%);
  color: hsl(231, 69%, 60%);
  background-color:white;
}

.first-white-button:hover{
  border:1px solid black;
  color: black;
  background-color:white;
}


/*third page*/
.third-page-choice{
  margin-bottom:15rem;
}


.third-page-option{
  flex-direction:row;
  align-items:center;
  width:60%;
  margin-left: auto;
  margin-right: auto;
}


.option1, .option2, .option3{
  border-top: none;
  border-bottom: 2px solid gray;
  cursor: pointer;
}

.option1:hover, .option2:hover, .option3:hover{
  color: hsl(0, 94%, 66%);
}


.choice-line1, .choice-line2, .choice-line3{
  width:19%;
}

.choice-line2{
  left: 40%;
  top: 4rem;
}

.choice-line3{
  top: 4rem;
  left: 60.26%;
}


.choice1, .choice2, .choice3{
  align-items:center;
  justify-content:center;
}

.flexing{
  display: flex;
}


.choice-description{
  padding: 0 12%;
}

.choice1-description, .choice2-description, .choice3-description{
  width:50%;
}

/*fourth page*/
.fourth-page{
  margin-bottom: 18rem;
}

.fourt-page1{
  margin-bottom:5rem;
}

.download-description{
  padding:0 35%;
}

.browser-version{
  display:flex;
  flex-direction:row;
  justify-content:center;
}

.chrome-mobile, .firefox-mobile, .opera-mobile{
  height:26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

.firefox-mobile{
  position:relative;
  top:4rem;
}

.opera-mobile{
  position:relative;
  top:8rem;
}

/*fifth page*/
.faqs-description{
  padding:0 35%;
}

.list-questions{
  padding: 0;
  width:35%;
  margin: 0 auto;
}

/*footer page1*/
.footer-page1-input-button{
  display:flex;
  justify-content:center;
}

.footer-page1-button, .footer-page1-input{
  margin:0;
}

.footer-page1-button{
  height:2.85rem;
  width:10.3rem;
  margin-left: 1rem;
}

.footer-page1-button:hover{
  background-color:white;
  border: 2px solid hsl(0, 94%, 66%);
  color: hsl(0, 94%, 66%);
}

.footer-page1-input{
  width:17rem;
  max-width:none;
  padding-right: 2rem;
  padding-left: 0.5rem;
}

.error-email{
  width:auto;
  bottom:4.3rem;
  padding-top: 3.5rem;
}


.error-icon{
  left:8.8rem;
}

/*footer page 2*/
.footer-page2{
  height:6rem;
}


.footer-page2, .left-footer-page2, .right-footer-img{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}

.left-footer-img, .right-footer-img, .right-footer-page2{
  margin: 0;
}

.footer-page2-link{
  margin:0 2.2rem;
  letter-spacing:2px;
}

.footer-page2-link:hover{
  color: hsl(0, 94%, 66%);
}

.left-footer-img{
  display:flex;
}
}
